html, body {
  margin: 0;
  padding: 10px;
  font: normal 22px 'Open Sans';
}

h1,
h2,
h3 {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pointer { cursor: pointer; }