$color-google: #D84237;
$color-white: #fff;
$color-gray--dark: #333;
$color-gray--light: #efefef;
$color-green: rgba(144, 238, 144, 1);
$color-green--opaque: rgba(144, 238, 144, 0.3);
$color-red: red;