.step {
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  opacity: 0.5;
  margin-bottom: 20px;

  &.active {
    background-color: $color-gray--light;
    opacity: 1;
  }

  &.completed {
    opacity: 0.8;
    background: $color-green;
  }

  h2 {
    margin: 0 0 20px 0;
  }

  h3 {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .video {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  img {
    border-radius: $border-radius;
    border: solid 4px transparent;
    max-width: 320px;
    max-height: 100%;
  }

  .video-image {
    margin: 10px 0;
    position: relative;
  }

  .video-add {
    display: none;
    color: $color-white;
    padding: 5px 15px;
    border-radius: $border-radius;
    background: $color-green;
  }
  .video-image:hover .video-add {
    display: block;
  }

  .video-added {
    color: $color-white;
    border-radius: $border-radius;
    padding: 10px;
    background: $color-green;
  }

  .video-remove {
    position: absolute;
    top: 5px;
    right: 15px;
    color: $color-red;
    z-index: 2;
  }

  .added img {
    border-color: $color-green;
  }
  .added img:after {
    z-index: 1;
    border-radius: $border-radius;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $color-green--opaque;
  }

  .help-text {
    margin: 0 20%;
    color: $color-gray;
    font-style: italic;
    font-size: smaller;
  }

  .import-list {
    margin-bottom: 25px;
    li {
      display: block;
      width: auto;
    }
  }
}